body {
    font-size: 20px;
    margin: 3%;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}

img {
    max-width: 100%;
}

figure {
    margin: 0px;
    margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
    body {
        background-color: rgb(201, 229, 253);
        font-size: x-large;
        margin: 5%;
    }

    h1, h2 {
        font-size: xx-large;
    }

    .figuras {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1290px) {
    body {
      background-color: rgb(228, 201, 253);
      font-size: 27px;
      margin: 5% 7%;
      max-width: 90%;
    }

    h1, h2 {
        font-size: 40px;
    }
}
