body {
    display: flex;
    justify-content: center;
    margin: 2% 0 10%;
    background-color: white;
    color: rgb(42, 41, 41);
}

legend {
    font-size: 28px;
    font-weight: 600;
    font-family: serif;
    text-align: center;
    padding: 2%;
    text-transform: uppercase;
    margin-top: 10px;
}

label{
    font-weight: 500;
    margin-right: 5px;
}

button {
    margin-bottom: 5%;
}

div {
    padding: 3px;
    font-size: 18px;
    background-color: rgb(42, 41, 41);
    margin-left: 5%;
    color: white;
}

div:hover {
    background-color: rgba(66, 80, 80, 0.63);
    border-radius: 4px;
}

.pai {
    border-radius: 5px;
    margin-left: 0;
}

.pai :nth-child(1) {
    font-size: 25px;
    font-family: monospace;
    text-transform: uppercase;
}
