
.super-mario{
    position: absolute;
    width: 150px;
    top: 150px;
    left: 105px;
}

.goomba{
    position: absolute;
    width: 100px;
    top: 350px;
    left: 180px;
}

.baloon{
    position: absolute;
    width: 200px;
    left:400px;
    z-index: 2;
}

.bowser{
    position: absolute;
    width: 380px;
    top: 30px;
    left:600px;
}

p {
    position: absolute;
    left: 420px;
    top: 110px;
    z-index: 3;
}